#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 12%;
  height: 100%;
  overflow-y: hidden;
  background: var(--black-color);
  opacity: 0.9;
  display: flex;
  align-items: center;
  font-size: 2em;
}

/* Sidebar styling */
.sidebar-nav {
  padding: 0;
  list-style: none;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
}

.sidebar-nav li {
  line-height: 40px;
  width: 100%;
  transition: all 0.3s;
  padding: 10px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: var(--foreground-color);
}

.sidebar-nav li:hover {
  background: var(--comment-color);;
  color: var(--foreground-color);
}

.sidebar-item {
  font-size: 0.8em;
  margin-top: 10%;
}

.active {
  background: var(--comment-color);;
  color: var(--foreground-color);
}