<!-- style="margin-top: 10rem; margin-bottom: 10rem;" -->
<footer id="footer">
  <div class="flex-row flex-sm-wrap" style="margin-top: 6%; margin-bottom: 6%;">
    <a href="#">
      <i class="fa fa-envelope"></i>
      javierl.1994@gmail.com
    </a>
    <a href="#">
      <i class="fa fa-linkedin"></i>
      LinkedIn
    </a>
    <a href="#">
      <i class="fa fa-github"></i>
      Github
    </a>
    <a href="#">
      <i class="fa fa-free-code-camp"></i>
      freeCodeCamp
    </a>
    <a href="#">
      <i class="fa fa-twitter"></i>
      Twitter
    </a>
  </div>

  <!-- <ul>
    <li>
      <a href="#">
        <i class="fa fa-envelope"></i>
        javierl.1994@gmail.com
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-linkedin"></i>
        LinkedIn
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-github"></i>
        Github
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-free-code-camp"></i>
        freeCodeCamp
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-twitter"></i>
        Twitter
      </a>
    </li>
  </ul> -->

  <!-- <p class="float-right"><a href="#">Back to top</a></p> -->
  <!-- <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
</footer>