<div>
  <h2 class="text-center title-color ">About</h2>

  <div class="container mt-4">
    <div class="card mt-4">
      <!-- <div class="card-header h4 text-center text-yellow mt-4 mb-3">
        Connect First Integration
      </div> -->
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <p class="justify-content">
                Self-motivated Full Stack Developer with high level of experience working on multiple projects.
                Passionate and hardworking with tendency for meeting deadlines. Interested in role with company
                promoting best practices and offering diverse customer projects.
              </p>
            </div>

            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/typescriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>


</div>