<div>
  <h2 class="text-center title-color">Portfolio</h2>

  <div class="container mt-4">
    <div class="card mt-4">
      <div class="card-header h4 text-center text-yellow mt-4 mb-3">
        Connect First Integration
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded" src="../../assets/connectFirstLogo.jpg">
          </div>
          <div class="col-lg-6">
            <p class="card-text text-justify">
              Integrate Connect First dialer management with in house software.
            </p>

            <ul>
              
              <li>Create tools to automate the administration of the dialer.</li>
              <li>Save call information in real time.</li>
            </ul>
            <!-- <p class="card-text text-justify">
              Dialer administration from in house software. Automate
            </p> -->
            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/typescriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->
            <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-center mt-4">
      <div class="card-header h4 text-yellow mt-4 mb-3">
        Salesforce Integration
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded img-thumbnail" src="../../assets/salesforceLogo.png">
          </div>
          <div class="col-lg-6">
            <p class="card-text text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque
              laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/typescriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->

            <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-center mt-4">
      <div class="card-header h4 text-yellow mt-4 mb-3">
        Business Intelligence Dashboards
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded img-thumbnail" src="../../assets/biDashboard.png">
          </div>
          <div class="col-lg-6">
            <p class="card-text text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque
              laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
            <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card text-center mt-4">
      <div class="card-header h4 text-yellow mt-4 mb-3">
        ASP Mobile App
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded" src="../../assets/aspLogo.png" style="max-width: 60%;">
          </div>
          <div class="col-lg-6">
            <p class="card-text text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque
              laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
            <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>