<div>
  <h2 class="text-center title-color">Portfolio</h2>

  <div class="container mt-4">
    <div class="card mt-4">
      <div class="card-header h4 text-center text-yellow mt-4 mb-3">
        Connect First Integration
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded" src="../../assets/connectFirstLogo.jpg">
          </div>
          <div class="col-lg-6">
            <!-- <p class="card-text text-justify">
              Integrate Connect First dialer management with in house software.
            </p> -->

            <ul>
              <li>Create tools to automate the administration of the dialer.</li>
              <li>Save call information in real time.</li>
              <li>Automatically download key information to generate business reports.</li>
              <li>Dialer configuration.</li>
              <li>Upload leads.</li>
              <li>Automate call schedule for leads.</li>
            </ul>
            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/typescriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->
            <!-- <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header h4 text-yellow mt-4 mb-3 text-center">
        Salesforce Integration
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded img-thumbnail" src="../../assets/salesforceLogo.png">
          </div>
          <div class="col-lg-6">
            <ul>
              <li>Retrieve pricebook information from Salesforce to custom system.</li>
              <li>Send data from Salesforce to Connect First.</li>
            </ul>
            <!-- <p class="card-text text-justify">Connect Salesforce data with custom system information.</p> -->
            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/typescriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->

            <!-- <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header h4 text-yellow mt-4 mb-3 text-center">
        Business Intelligence Dashboards
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <img class="card-img rounded img-thumbnail" src="../../assets/biDashboard.png">
          </div>
          <div class="col-lg-6">
            <p class="card-text text-justify">Create and maintain business dashboards that presents business analytics
              metrics along with key performance indicators (KPIs).
            </p>
            <ul>
              <li>Develop the best way to present metrics and key performance indicators (KPIs).</li>
              <li>Connect several datasource of information.</li>
              <li>Creat custom widgets.</li>
              <li>Integrate existing systems to the business intelligence dashboards.</li>
            </ul>
            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->

            <!-- <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>


    <div class="card mt-4">
      <div class="card-header h4 text-yellow mt-4 mb-3 text-center">
        ASP Mobile Application
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 text-center">
            <img class="card-img rounded w-75" src="../../assets/aspLogo.png">
          </div>
          <div class="col-lg-6">
            <p class="card-text text-justify">As an intership in Aguas de San Pedro I develop a mobile application to
              share with customers of San Pedro Sula city their due information.</p>
            <ul>
              <li>Cross platform mobile application.</li>
              <li>Customer are able to send messages to Aguas de San Pedro.</li>
              <li>Create a "Our Company" section to showcase corparate social responsability projects.</li>
            </ul>
            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="flex-row">
                  <img class="card-img img-icon" src="../../assets/javascriptLogo.png">
                  <img class="card-img img-icon" src="../../assets/html5Logo.png">
                  <img class="card-img img-icon" src="../../assets/css3Logo.png">
                  <img class="card-img img-icon" src="../../assets/angularLogo.png">
                  <img class="card-img img-icon" src="../../assets/sqlLogo.png">
                  <img class="card-img img-icon" src="../../assets/csharpLogo.png">
                </div>
              </div>
            </div> -->

            <!-- <div class="row mt-4">
              <button type="button" class="btn btn-link" style="color: var(--blue-color);">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>


</div>