:root {
  --black-color: #1e1f1c;
  --background-color: #272822;
  --foreground-color: #f8f8f2;
  --comment-color: #75715e;
  --red-color: #f92672;
  --orange-color: #fd971f;
  --light-orange-color: #e69f66;
  --yellow-color: #e6db74;
  --green-color: #a6e22e;
  --blue-color: #66d9ef;
  --purple-color: #ae81ff;
}

body {
  font-family: "Cousine", monospace !important;
  background-color: var(--black-color);
  color: var(--foreground-color);
}

label {
  font-family: "Cousine", monospace !important;
}

.title-color {
  color: var(--green-color);
  text-decoration: underline;
  padding-top: 2%;
}

.text-yellow {
  color: var(--yellow-color);
}

.img-icon {
  height: 40px;
  width: 40px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar {
  background-color: var(--black-color) !important;
}

.nav-link {
  color: var(--foreground-color) !important;
}

.navbar-brand {
  color: var(--foreground-color) !important;
}

.active a {
  color: var(--green-color) !important;
  text-decoration: underline !important;
}

.navbar-toggler {
  color: var(--green-color) !important;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--comment-color);
}

::selection {
  background: var(--blue-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--blue-color); /* Gecko Browsers */
}

li {
  font-size: 1.25rem !important;
}
p {
  font-size: 1.25rem !important;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}